<ng-template #uploadComponent>
  <h3><b>Step 1. Upload an invoice to begin training</b></h3>

  <app-invoice-type></app-invoice-type>

  <br/>
  <br/>
  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    </div>

    <div  class="files-list" *ngFor="let fileName of fileNames;let i=index">
      <button mat-button color = "primary" (click)=filePreview(i)>{{ fileName }}</button>
      <button mat-icon-button color="warn" (click)="deleteAttachment(i)">
          <mat-icon>delete</mat-icon> 
      </button>
    </div>


    <br />
    <div id="Extract_Button">
      <button mat-raised-button color="primary" (click)="sendFiles()" >
        <mat-icon>cloud_upload</mat-icon>
        &nbsp;Upload
      </button>
      <br />
      <br />
  </div>
</ng-template>

<div class= "spinner" *ngIf = "showSpinner else uploadComponent">
  <mat-spinner  color = "accent"></mat-spinner>
</div>
  

  
