<div class="invoiceList" *ngIf="!extractedInformation.extractedData else extractedInfo">
  <ng-template #invoiceTable>
    <h2>List of the Files Uploaded</h2>
    <h3>Template: {{fileNameService.fileType}}</h3>

    <br>

    <div class="table-container">
      <table class="files-table" *ngIf="fileList">
        <tr>
            <th>S.No.</th>
            <th>Name of the Files</th> 
            <th>Options Available</th>
        </tr>
        <tr *ngFor="let fileName of fileList;let i=index">
            <td>{{i+1}}</td>
            <td >{{ fileName }}</td>
            <td >
                  <button class="btn2" (click)="convertToJpeg(i)" >Extract Info</button>  &nbsp;&nbsp;
            </td>
        </tr>
      </table>
    </div>
    <br>
    <div>
      <button class="btn" (click)="openDialog()">Extract All</button>
    </div>
  </ng-template>

  <div class= "spinner" *ngIf = "showFlag else invoiceTable">
    <mat-spinner color = "accent"></mat-spinner>
  </div>
</div>

<ng-template #extractedInfo>
  <app-information-dialog></app-information-dialog>
</ng-template>