.files-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  } 
  
  .files-table td, tr {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .files-table tr:nth-child(even){background-color: whitesmoke;
color:black;}
  
.files-table tr:nth-child(odd){background-color: white;
    color:black;}


  .files-table tr:hover {background-color:lightsteelblue;
color: white;}
  
  .files-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    // background-color:    #4CAF50;
    color: white;
  }

h2{
  color:  rgb(248, 247, 247);
}

h5{
  color:  rgb(248, 247, 247);
}

img {
  height:80%;
  width: auto;
}

.column {
    
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 55%;
  
}

.right {
    
  width: 45%;
  background-color: #343a40;
  color: white;
  overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-reset{
  background-color: white;
  color: red;
}