<div class="row"> 
  <div class="column right">
    <div class="infoTable">
      <h2>Extracted Information</h2>

      <table class="files-table">
        <tr>
            <th>S.No.</th>
            <th>Data Field</th> 
            <th>Value</th>
            
            
        </tr>
        <tr *ngFor="let data of infoExtracted | keyvalue;let i=index">
            <td>{{i+1}}</td>
            <td>
              <button mat-button color="primary" (click) = "applyFilter(data.key)">{{ data.key }}</button>
            </td>
            <td (click) = "applyFilter(data.key)">{{ data.value[0] }}</td>
        </tr>
      </table>
    </div>
    <button (click)="returnToList()">Done</button>

  </div>
  <div class="column left">
    <h5 *ngIf="filterApplied">
      Filtered By: {{filterApplied}}
      <button mat-flat-button color="reset" (click)="resetFilter()">Reset Filter</button>
    </h5>
    
    <app-image-viewer [images]="imageSource"
      [idContainer]="'idOnHTML'"
      [loadOnInit]="true">
    </app-image-viewer>

  </div>
</div>
