<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">
        <mat-icon svgIcon="logo" style="transform: scale(1.88);"></mat-icon>
        <b>&nbsp; SIMS</b>
    </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="train" routerLinkActive="active">
            <mat-icon style="font-size: 22px !important">train</mat-icon>
            Train New
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="extract" routerLinkActive="active">
            <mat-icon style="font-size: 22px !important">flip</mat-icon>
            Extract from PDF
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
