.uploadfilecontainer {
    background-image: url("../../../assets/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 4px dashed rgb(180, 0, 180);
    border-radius: 10px;
  }
  
  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: rgb(172, 105, 172) !important;
    opacity: 0.8;
  }
  
  .files-list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 10px auto;
    background: lightcyan;
    border: 1px dashed;
    border-radius: 12px;
    padding: 10px;
    color: rgb(107, 11, 107);
  }
  
  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .files-list .delete-file img{
    width:30px;
  }
  
  #Extract_Button {
    text-align:center;
  }
  

  h3{
    color: rgb(173, 173, 173)
  }