<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)" multiple>
  </div>
  <div  class="files-list" *ngFor="let fileName of fileNames;let i=index">
      <button mat-button color = "primary" (click)=filePreview(i)>{{ fileName }}</button>
      <button mat-icon-button color="warn" (click)="deleteAttachment(i)">
          <mat-icon>delete</mat-icon> 
      </button>
    </div>
  <div id="Extract_Button">
    <button mat-raised-button color="primary" (click)="sendFiles()" >
        <mat-icon>cloud_upload</mat-icon>
        &nbsp;Upload
    </button>
  </div>